SA_PASSWORD=Choose-A-Strong-Password-2026!

SQLSERVER_CONNECTION=Server=localhost,1433;Database=DigitalEvidenceSystem;User Id=sa;Password=Choose-A-Strong-Password-2026!;TrustServerCertificate=True;Encrypt=False
